$clr-primary: #1e272e;
$clr-secondary: #ffd32a;
$clr-dark: #000002;
$clr-danger: #e74c3c;
$clr-white: darken(white, 1%);

$head-font: 'Oswald', sans-serif;
$body-font: 'Roboto', sans-serif;

$large-font: 2em;
$medium-font: 1.25em;
$small-font: 1em;