<section class="page">
    <div class="inner">
        <h2>Credits</h2>
        <p>This website uses content and code adapted from the sources listed below.</p>
        
        <h3>Images</h3>
        <p>Callahan, T. (2018) <em>Arts United Center - Angled</em>. Available at: https://unsplash.com/photos/e_RpjNyMgEM (Accessed: 11 May 2019).</p>
        <p>Jeshoots.com (2017) <em>Hands holding the game controllers</em>. Available at: https://unsplash.com/photos/eCktzGjC-iU (Accessed: 11 May 2019).</p>
        <p>Masalar, M. (2017) <em>music.jpg</em>. Available at: https://unsplash.com/photos/rPOmLGwai2w (Accessed: 11 May 2019).</p>
        <p>Nedel, L. (2017) <em>travel.jpg</em>. Available at: https://unsplash.com/photos/ONpGBpns3cs (Accessed: 10 May 2019).</p>
        <p>Nickson, R. (2018) <em>action.jpg</em>. Available at: https://unsplash.com/photos/WvRMzYER6FM (Accessed: 8 May 2019).</p>
        <p>Olanec, P. (2019) <em>Misty mountain</em>. Available at: https://unsplash.com/photos/pTi42Jz7kb4 (Accessed: 8 May 2019).</p>
        <p>Schuh, S. (2016) <em>White soccer line</em>. Available at: https://unsplash.com/photos/HgwY_YQ1m0w (Accessed: 13 May 2019).</p>
        <p>timJ (2017) <em>Warm &amp; Cold</em>. Available at: https://unsplash.com/photos/EJ4qfFp1g8Q (Accessed: 11 May 2019).</p>
        <p>Wrona, M. (2017) <em>Alone in The Woods</em>. Available at: https://unsplash.com/photos/pCgxm-HDMNs (Accessed: 11 May 2019).</p>
        <p>Vodell, L. (2018) <em>Tjentiste War Memorial, Tjentiste, Bosnia and Herzegovina</em>. Available at: https://unsplash.com/photos/speT7Iohgps (Accessed: 11 May 2019).</p>
        <p>Zhao, K. (2018) <em>cinema.jpg</em>. Available at: https://unsplash.com/photos/jLRIsfkWRGo (Accessed: 8 May 2019).</p>

        <h3>Fonts</h3>
        <p>Adams, V., Gajjar, K. and Cyreal (2011) <em>Oswald</em>. Available at: https://fonts.google.com/specimen/Roboto (Accessed: 3 May 2019).</p>
        <p>Robertson, C. (no date) <em>Roboto</em>. Available at: https://fonts.google.com/specimen/Roboto (Accessed: 3 May 2019).</p>

        <h3>Code</h3>
        <p>Davis, R. (no date) <em>Managing Sessions with Classes</em>. Available at: https://wheel.x-alt.com/book/1/chapter/8/page/6 (Accessed: 3 May 2019).</p>
        <p>Davis, R. (no date) <em>ApplicationRegistry Class</em>. Available at: https://wheel.x-alt.com/book/1/chapter/5/page/2 (Accessed: 3 May 2019).</p>
        <p>Davis, R. (no date) <em>JSON_RecordSet code</em>. Available at: https://wheel.x-alt.com/book/1/chapter/11/page/9 (Accessed: 3 May 2019).</p>
        <p>Davis, R. (no date) <em>RecordSet Classes</em>. Available at: https://wheel.x-alt.com/book/1/chapter/4/page/4 (Accessed: 3 May 2019).</p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js (Accessed: 3 May 2019).</p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js (Accessed: 3 May 2019).<p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.js (Accessed: 3 May 2019).</p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.js (Accessed: 3 May 2019).</p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js (Accessed: 3 May 2019).</p>
        <p>Google, Inc. (2018) <em>AngularJS v1.7.8</em>. Available at: https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js (Accessed: 3 May 2019).</p>
        
        <a href="index" title="Go back to homepage" class="btn btn--solid"><span>OK!</span></a>
    </div>
</section>